<div class="container">
  <h1>Libro: </h1>

  <form action="">
    <label for="title">Titulo: </label>
    <input 
      type="text" 
      name="title"
      class="form-control"
      id="title"
      [(ngModel)]="model.title"   
      required
    />

    <label for="author">Autor: </label>
    <input 
      type="text" 
      name="author"
      class="form-control"
      id="author"
      [(ngModel)]="model.author"   
      required
    />

    <label for="url">URL: </label>
    <input 
      type="text" 
      name="url"
      class="form-control"
      id="url"
      [(ngModel)]="model.url"   
    />

    <button type="submit" class="btn btn-success">Enviar</button>
  </form>

  <div class="pre">
    <h2>Modelo: </h2>
    {{ currentBook }}
  </div>

</div>